DISCORD_TOKEN=your_bot_token_here
# TODO_CHANNEL_ID is optional/legacy. On startup, if set, it will be migrated
# into channels.json. Prefer /register-channel or /create-todo-channel instead.
TODO_CHANNEL_ID=
GUILD_ID=123456789012345678
